.rd-button-background-light {
  &.rd-button-primary {
    background-color: #c5281c !important;
  }
}
.button-module__backgroundLight{
  &.button-module__primary {
    background-color: #c5281c !important;
  }
}

.bk-input-container .bk-input .bk-input-container-inner::after {
  border-bottom: 2px solid #c5281c !important;
}
[data-tour-id="sage-search-button-tour"] {
  background-color: #c5281c !important;
}

.segment-control-module__segmentedControl{
  &.segment-control-module__segmentedItem {
    &.segment-control-module__selected {
      &.segment-control-module__innerText {
        color: #c5281c !important;
      }
    }
  }
}
.top-list-filters .bk-filter-item .bk-top-menu-filters li.bk-selected {
  color: #c5281c !important;
}
